# Arquivos de objeto e link
*.o
*.a
*.so
*.dll
*.dylib
*.out
*.exe

# Pastas e arquivos de build
build/
Debug/
Release/
*.dSYM/

# Arquivos temporários
*.swp
*.swo
*~
*.bak

# Outros
.DS_Store
Thumbs.db

#
game-score-api
