name: Deploy

on:
  push:
    branches:
      - main

jobs:
  test-build-deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install DEV Dependencies
        run: |
            sudo apt update
            sudo apt install -y build-essential
            sudo apt install -y uuid-dev
            sudo git clone https://github.com/zaphoyd/websocketpp.git /opt/websocketpp
            sudo ls -lha /opt
            sudo ls -lha /opt/websocketpp
            sudo apt install -y nlohmann-json3-dev
            sudo apt install -y libasio-dev
            sudo apt install -y cmake
            sudo apt install -y g++
            sudo dpkg -L uuid-dev
            sudo dpkg -L nlohmann-json3-dev
            sudo dpkg -L libasio-dev

      - name: Build
        run: g++ -std=c++11 -I/opt/websocketpp ./game-score-api.cpp -o ./game-score-api

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: unnecessary

      - name: Adding Known Hosts
        run: ssh-keyscan -p ${{ secrets.SSH_PORT }} -H ${{ secrets.SSH_HOST }}  >> ~/.ssh/known_hosts

      - name: Test SSH connection
        run: ssh -T ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}

      - name: Stop Current Service
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            ps aux | grep "game-score-api" | grep -v grep | awk '{print $2}' | while read pid; do [ -n "$pid" ] && kill "$pid"; done

      - name: Delete OLD File
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            file="${{ secrets.HOME }}/game-score-api"
            if [ -f "$file" ]; then
              rm -f "$file"
            fi

      - name: Deploy with rsync
        run: |
          rsync --progress -avz -e "ssh -v -i ~/.ssh/id_rsa" ./game-score-api ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:${{ secrets.HOME }}/

      - name: Restart The API
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            chmod +x ${{ secrets.HOME }}/game-score-api
            nohup ${{ secrets.HOME }}/game-score-api >> /var/log/game-score-api.log 2>&1 &
